$colors: (
    fff: #fff,
    black: #000,
    black-333: #333,
    blue-50: #f2f9ff,
    blue-100: #bcdcff,
    blue-200: #8ac0fa,
    blue-300: #5da5f2,
    blue-400: #237bd9,
    blue-500: #005cbf,
    blue-600: #004fa5,
    blue-700: #014085,
    blue-800: #003166,
    blue-900: #001e40,
    gray-50: #fafafa,
    gray-60: #f1f1f1,
    gray-100: #e0e0e0,
    gray-200: #c7c7c7,
    gray-300: #adadad,
    gray-400: #949494,
    gray-500: #7a7a7a,
    gray-600: #616161,
    gray-700: #464646,
    gray-800: #333333,
    gray-900: #1a1a1a,
    blue-gray-50: #f9fafc,
    blue-gray-100: #eff3f9,
    blue-gray-200: #d6e1f0,
    blue-gray-300: #b2c2d4,
    blue-gray-400: #8ea3b9,
    blue-gray-500: #7b90a6,
    cyan-500: #1adfdf,
    cyan-600: #11cbcb,
    cyan-700: #0ea6a6,
    yellow-100: #fff3c5,
    yellow-200: #ffe789,
    yellow-300: #ffe064,
    yellow-400: #ffd942,
    yellow-500: #fdd01c,
    yellow-600: #f3c50e,
    yellow-700: #e0b507,
    yellow-800: #cea500,
    red-100: #ffdcdc,
    red-200: #ffb9b9,
    red-300: #ff9898,
    red-400: #fc7474,
    red-500: #ee5f5f,
    red-600: #e24545,
    red-700: #d92c2c,
    red-800: #c21313,
    green-500: #4caf50,
    green-600: #43a047,
    green-700: #2e7d32,
);
